:root{
  --bkg-primary: #ececec;
  --bkg-secondary: rgb(12 46 2);
  --color-one: #b3b3b3;
  --bkg-info-card: #d1d1d1;
}

*{
  margin: 0;
  padding: 0;
}

body{
  background: rgb(56, 56, 56);
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}